<section id="about" class="py-5">
  <div class="container pt-5">
    <div class="about-header text-center text-light pb-4">
      <h2 class="fs-1 fw-bold">ABOUT</h2>
      <div  class="relative text-center d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-star fs-2 icon-star"></i>
        <span class="custom-line"></span>
      </div>



    </div>

    <div class="row text-light">
      <div class="col-lg-4 ms-auto">

        <p class="fs-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-lg-4 me-auto">
        <p class="fs-5">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
      </div>
    </div>
  </div>
  </section>
