<section id="portfolio" class="py-5">
  <div class="container pt-5">
    <div class="portfolio-header text-center .text-secondary pb-5">
  <h2 class="fs-1 fw-bold">PORTFOLIO</h2>
  <div  class="relative text-center d-flex align-items-center justify-content-center">
  <i class="fa-solid fa-star fs-2 icon-star2"></i>
  <span class="custom-line bg-dark"></span>
  </div>
    </div>

  <div class="row g-4">

      <div  class="col-md-6 col-lg-4 ">
        <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#Cbin">
          <div class="position-relative item">
            <img src="./assets/images/cabin.png" class="w-100 " alt="cabin">
            <div class="item-content d-flex align-items-center justify-content-center text-light">
              <i class="fa-solid fa-plus fs-1"></i>
            </div>
          </div>
        </button>


      </div>

  <div class="col-md-6 col-lg-4 ">

    <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#cake">
      <div class="position-relative item">
        <img src="./assets/images/cake.png" class="w-100 " alt="cake">
        <div class="item-content d-flex align-items-center justify-content-center text-light">
          <i class="fa-solid fa-plus fs-1"></i>
        </div>
      </div>
    </button>



  </div>

  <div class="col-md-6 col-lg-4 ">
 <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#circus">
  <div class="position-relative item">
    <img src="./assets/images/circus.png" class="w-100 " alt="circus">
    <div class="item-content d-flex align-items-center justify-content-center text-light">
      <i class="fa-solid fa-plus fs-1"></i>
    </div>
  </div>

    </button>



  </div>

  <div class="col-md-6 col-lg-4">

    <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#cake">
      <div class="position-relative item">
        <img src="./assets/images/game.png" class="w-100 " alt="game">
        <div class="item-content d-flex align-items-center justify-content-center text-light">
          <i class="fa-solid fa-plus fs-1"></i>
        </div>
      </div>
    </button>



  </div>

  <div class="col-md-6 col-lg-4 ">

    <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#safe">
      <div class="position-relative item">
        <img src="./assets/images/safe.png" class="w-100 " alt="safe">
        <div class="item-content d-flex align-items-center justify-content-center text-light">
          <i class="fa-solid fa-plus fs-1"></i>
        </div>
      </div>
    </button>



  </div>

  <div class="col-md-6 col-lg-4">

    <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#submarine">
      <div class="position-relative item">
        <img src="./assets/images/submarine.png" class="w-100 " alt="submarine">
        <div class="item-content d-flex align-items-center justify-content-center text-light">
          <i class="fa-solid fa-plus fs-1"></i>
        </div>
      </div>
    </button>



  </div>

  </div>

  </div>
  </section>


  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="Cbin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="inf">
          <div class="overlay">
            <div class="container py-4">
              <div class="inf-content py-5">
                <div class="inf-header text-center .text-secondary pb-5">
                  <h2 class="fs-1 fw-bold">LOG CABIN</h2>
                  <div  class="relative text-center d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-star fs-2 icon-star2"></i>
                    <span class="custom-line bg-dark"></span>
                  </div>
                      </div>
        <div class="w-75 mx-auto text-center">
          <img class="w-100 rounded mb-5" src="assets/images/cabin.png" alt="">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          <button type="button" class="btn btn-inf" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close Window</button>
        </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="game" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="inf">
          <div class="overlay">
            <div class="container py-4">
              <div class="inf-content py-5">
                <div class="inf-header text-center .text-secondary pb-5">
                  <h2 class="fs-1 fw-bold">LOG CABIN</h2>
                  <div  class="relative text-center d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-star fs-2 icon-star2"></i>
                    <span class="custom-line bg-dark"></span>
                  </div>
                      </div>
        <div class="w-75 mx-auto text-center">
          <img class="w-100 rounded mb-5" src="./assets/images/game.png" alt="">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          <button type="button" class="btn btn-inf" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close Window</button>
        </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cake" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="inf">
          <div class="overlay">
            <div class="container py-4">
              <div class="inf-content py-5">
                <div class="inf-header text-center .text-secondary pb-5">
                  <h2 class="fs-1 fw-bold">LOG CABIN</h2>
                  <div  class="relative text-center d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-star fs-2 icon-star2"></i>
                    <span class="custom-line bg-dark"></span>
                  </div>
                      </div>
        <div class="w-75 mx-auto text-center">
          <img class="w-100 rounded mb-5" src="./assets/images/cake.png" alt="">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          <button type="button" class="btn btn-inf" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close Window</button>
        </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="circus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="inf">
          <div class="overlay">
            <div class="container py-4">
              <div class="inf-content py-5">
                <div class="inf-header text-center .text-secondary pb-5">
                  <h2 class="fs-1 fw-bold">LOG CABIN</h2>
                  <div  class="relative text-center d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-star fs-2 icon-star2"></i>
                    <span class="custom-line bg-dark"></span>
                  </div>
                      </div>
        <div class="w-75 mx-auto text-center">
          <img class="w-100 rounded mb-5" src="./assets/images/circus.png" alt="">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          <button type="button" class="btn btn-inf" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close Window</button>
        </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="safe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="inf">
          <div class="overlay">
            <div class="container py-4">
              <div class="inf-content py-5">
                <div class="inf-header text-center .text-secondary pb-5">
                  <h2 class="fs-1 fw-bold">LOG CABIN</h2>
                  <div  class="relative text-center d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-star fs-2 icon-star2"></i>
                    <span class="custom-line bg-dark"></span>
                  </div>
                      </div>
        <div class="w-75 mx-auto text-center">
          <img class="w-100 rounded mb-5" src="./assets/images/safe.png" alt="">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          <button type="button" class="btn btn-inf" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close Window</button>
        </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="submarine" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="inf">
          <div class="overlay">
            <div class="container py-4">
              <div class="inf-content py-5">
                <div class="inf-header text-center .text-secondary pb-5">
                  <h2 class="fs-1 fw-bold">LOG CABIN</h2>
                  <div  class="relative text-center d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-star fs-2 icon-star2"></i>
                    <span class="custom-line bg-dark"></span>
                  </div>
                      </div>
        <div class="w-75 mx-auto text-center">
          <img class="w-100 rounded mb-5" src="./assets/images/submarine.png" alt="">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          <button type="button" class="btn btn-inf" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close Window</button>
        </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>
