





<section id="home" class="py-5 text-light">
<div class="container pt-5">
  <div class="w-25 mx-auto text-center pt-3">
    <img src="./assets/images/avataaars.svg" class="w-75 mb-4" alt="page-img">
  </div>
<div class="text-center">
  <h1 class="main-header h1 fs-1">START ANGULAR</h1>
<div  class="relative text-center d-flex align-items-center justify-content-center">
  <i class="fa-solid fa-star fs-2 icon-star"></i>
  <span class="custom-line"></span>
</div>
<p class="fs-3">Graphic Artist - Web Designer - Illustrator</p>
</div>
</div>

</section>













